.navbar {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(19, 19, 18);
  padding: 1rem 2rem;
  color: #fff;
}
.navbar__logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.navbar__logo:hover {
  color: chocolate;
}
.navbar__logo img {
  width: 40px;
  object-fit: contain;
  height: 40px;
  filter: invert(100%);
}
.navbar__logo h5 {
  font-size: 1.2rem;
  margin-left: 10px;
  font-weight: 700;
}
.navbar__links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.navbar__links a {
  text-decoration: none;
  color: white;
  margin-right: 3rem;
  padding: 1rem 0.3rem;
}
.navbar__links a:hover .navIcons {
  color: chocolate !important;
}
.nav_active {
  border-bottom: 2px solid rgb(255, 255, 255);
}
.nav_active .navIcons {
  color: chocolate !important;
}

@media (max-width: 700px) {
    .navbar{
        padding: 1rem 0.1rem;
    }
  .navbar__links a {
    margin-right: 0.1rem;
  }
  .navbar__links {
    list-style: none;
  }
  .navIcons {
    display: none !important;
  }
}
