.showTrips__container h3 {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  font-weight: bolder;
}
.showTrips__containerFilter {
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
}
.showTrips__containerFilter button {
  font-size: 1rem;
  color: #fff;
  padding: 0.2rem 0.6rem;
  background: transparent;
  cursor: pointer;
}
.trip {
  width: 100%;
  margin: auto;
  margin-top: 20px;
  height: 180px;
  padding: 0 1rem;
  overflow-y: auto;
}
.trip__head {
  width: 80%;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
  padding: 0.2rem 0;
  margin: auto;
}
.trip__body {
  margin: auto;
  width: 95%;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  border-top: 2px solid chocolate;
  margin-top: 5px;
  padding: 5px 0;
}
.trip p span {
  margin-left: 20px;
  cursor: pointer;
  background-color: red;
  color: #fff;
  padding: 0.05rem 0.2rem;
  font-weight: 700;
}
.deleteIcon{
  font-size: 1.1rem !important;
}
.trip p > span:hover{
    background-color: #fff ;
    color: rgb(255, 0, 0);
}

/* media queries */

@media (max-width: 700px) {
  .trip {
    width: 100%;
  }
}
